@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" />

<div class="background">
    <div class="row justify-content-center mx-0">
        <div class="col-12 col-md-10 mb-4">
            <h1 class="title pb-3">Privacy Policy</h1>
            <p class="text-heading">1. Information we collect</p>
            <p class="text">User information is only collected for the contact tracing feature. To use the contact tracing feature, you will have to provide us with certain information.</p>
            <p class="text mb-0">Below is the information that we collect for the contact tracing feature:</p>
            <ul>
                <li class="text">Username</li>
                <li class="text">Password</li>
                <li class="text">Encounters: When you record a new encounter</li>
                <li class="text">Notifications: When you notify others</li>
            </ul>
            <p class="text-heading">2. Use of your personal information.</p>
            <p class="text">We will use the information that you supply to us to provide you with access to the contact tracing feature.</p>
            <p class="text-heading">3. Cookies and tracking</p>
            <p class="text">Cookies are only used for the purpose of account authentication and authorization.</p>
            <p class="text-heading">4. Third party access</p>
            <p class="text">No personal information is shared with any third parties.</p>
        </div>
    </div>
</div>