@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3 class="section-title">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-2">
                <label asp-for="Input.OldPassword" class="form-label labels">Current password</label>
                <input asp-for="Input.OldPassword" class="form-control input-text py-2" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Input.NewPassword" class="form-label labels">New password</label>
                <input asp-for="Input.NewPassword" class="form-control input-text py-2" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Input.ConfirmPassword" class="form-label labels">Confirm new password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control input-text py-2" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="mt-2 w-100 btn btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
